{% extends 'ToDoApp/login.html' %}

{% block content %}
<div id="login">
    <h3 class="text-center text-white pt-5">Add Task</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" method="post">
                        {% csrf_token %}
                        <h2 class="text-center text-info" style="margin-left:-200px"><b>Add your Task</b></h2>

                        <div class="form-group">
                            <label class="text-info">
                                <table class="table">
                                    {{ form }}
                                </table>
                            </label>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
