<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <title>Hello, world!</title>
</head>
<body>


<body>
<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-8">


                <h1>Welcome to <span style="color:orange;">Arhamsoft</span> ToDo List App</h1>
                <br>
                <h3>Click on Below Button for Login or Register</h3>
                <br><br><br>
                <div>
                    <a href="{% url 'ToDoApp:login' %}">
                        <input type="submit" name="Login" class="btn btn-success btn-md" value="Login">
                    </a>
                    <a href="{% url 'ToDoApp:registration' %}" style="margin-left:400px">
                        <input type="submit" name="Register" class="btn btn-primary btn-md" value="Register">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
</body>


</body>
</html>